<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarised.

<b>Objectives</b>

<ul>List popular languages for data science
    <li>R</li>
    <li>Python</li>
    <li>Tableau</li>
    <li>Javascript</li>
    <li>SQL</li>
    </ul>

Some of the popular languages that data scientists use are: <br>

<ol>
    <li>R</li>
    <li>Python</li>
    <li>Javascript</li>
</ol>

Some of the common libraries used by data scientist include:

<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>TensorFlow</li>
    <li>SciPy</li>
    <li>MatplotLib</li>
</ol>

<table style="width:20%">
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>Tableau</td></tr>
    <tr> <td>Excel</td> </tr>
       <tr> <td>Power BI</td>
    </tr>    
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

<ul>
    <li>3+4</li>
    <li>4-3</li>
    <li>3*4</li>
    <li>4/3</li>
    </ul>

In [2]:
(3*4)+5  #this a simple arithmetic expression to mutiply then add integers

17

In [3]:
# *This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes // 60
hours

3

<h2>Author</h2>

Srushti Apandkar